<%- include("partials/header.ejs") %>
    <div class="container mt-5 flex-grow-1 overflow-auto content">
        <div class="col-12 col-lg-7 mx-auto">
            <h4 class="mb-3">Create new blog post</h4>
            <form class="needs-validation" novalidate="">
              <div class="row g-3">

                <div class="col-12">
                  <label for="post-title" class="form-label">Post title</label>
                  <input type="text" class="form-control" id="post-title" placeholder="Enter your title here..." required="">
                  <div class="invalid-feedback">
                    Please enter a valid title
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="post-text" class="form-label">Post text</label>
                  <input type="text" class="form-control create-post-text-field" style="height: 50vh" id="post-text" placeholder="Enter your text here..." required="">
                  <div class="invalid-feedback">
                    Please enter your post text.
                  </div>
                </div>

              <button class="w-100 btn btn-warning btn-lg" type="submit">Continue to checkout</button>
            </form>
          </div>
    </div>
<%- include("partials/footer.ejs") %>