<%- include("partials/header.ejs") %>
    <div class="px-4 py-5 text-center mb-5 d-flex flex-column justify-content-end align-items-center" id="header-bg">
        <h1 class="display-5 fw-bold text-body-emphasis text-white bold-custom">Welcome</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-white">
                This is a blog I made with bootstrap and my custom css. To make this web-site beautiful and to pick harmonical colours, I used "Client-First Template 12 - Blog" from Figma community. This is my first project with backend.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-warning btn-lg px-4 gap-3">Create new post</button>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    From the Firehose
                  </h3>
                  <div>
                    <h2 class="display-5 link-body-emphasis mb-1">Sample blog post</h2>
                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                    <button type="button" class="btn btn-warning">
                        Read More >
                    </button>
                  </div>
    
            </div>
            <div class="col-md-4">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    From the Firehose
                  </h3>
                <div style="top: 2rem;">
                  <div>
                    <h4 class="fst-italic">Recent posts</h4>
                    <ul class="list-unstyled">
                      <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                          <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
                          <div class="col-lg-8">
                            <h6 class="mb-0">Example blog post title</h6>
                            <small class="text-body-secondary">January 15, 2024</small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                          <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
                          <div class="col-lg-8">
                            <h6 class="mb-0">This is another blog post title</h6>
                            <small class="text-body-secondary">January 14, 2024</small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                          <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
                          <div class="col-lg-8">
                            <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                            <small class="text-body-secondary">January 13, 2024</small>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
    </div>

<%- include("partials/footer.ejs") %>