body{
    font-family: "Lexend Deca", serif;
}

.bg-black-custom{
    background-color: #232536;
}

.bold-custom{
    font-weight: bold !important;
}

.text-yellow-custom{
    color: #FFC107 !important;
}

@keyframes parallaxMove {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

#header-bg{
    background-image: url('../media/bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    position: relative;
    z-index: 0;
    animation: parallaxMove 100s infinite linear;

}

#header-bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(89, 46, 169, 0.6); /* Желтая пелена с прозрачностью */
    z-index: -1; /* Обеспечит, что пелена будет поверх фона */
    backdrop-filter: blur(3px);
}

#header-bg > * {
    position: relative;
    z-index: 1;
}

.break-word{
    word-wrap: break-word !important;
}
.all-posts-img{
    height: 180px;
    width: 100%;
    object-fit: cover; /* Обрезка изображения с сохранением пропорций */
    object-position: center;
}

.featured-posts-img{
    width: 100%; 
    height: 350px;
    object-fit: cover; /* Обрезка изображения с сохранением пропорций */
    object-position: center;/* 40% меньше */
}
  
@media (max-width: 992px) {
    .featured-posts-img {
      width: 350px;
      height: auto; /* 40% меньше */
    }
}

@media (max-width: 765px) {
    .featured-posts-img {
        width: 515px;
        height: auto; /* 40% меньше */
        /* 50% меньше */
    }
  }
  /* Для экранов с шириной меньше 576px (очень маленькие экраны) */
@media (max-width: 576px) {
    .featured-posts-img {
        width: 100%;
        height: auto; /* 40% меньше */
        /* 50% меньше */
    }
  }