body{
    font-family: "Lexend Deca", sans-serif;
}

.bg-black-custom{
    background-color: #232536;
}

.bold-custom{
    font-weight: bold !important;
}

.text-yellow-custom{
    color: #FFC107 !important;
}

@keyframes parallaxMove {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

#header-bg{
    background-image: url('../media/bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    position: relative;
    z-index: 0;
    animation: parallaxMove 100s infinite linear;

}

#header-bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(89, 46, 169, 0.6); 
    z-index: -1;
    backdrop-filter: blur(3px);
}

#header-bg > * {
    position: relative;
    z-index: 1;
}

.break-word{
    word-wrap: break-word !important;
}
.all-posts-img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: center;
}

.featured-posts-img{
    width: 100%; 
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.all-post-page-img{
    width: 250px; 
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.individual-article-img{
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1200px) and (min-width: 992px) {
    .all-post-page-img{
        width: 200px; 
        height: 250px;
    }
}

/* Medium screens */
@media (max-width: 993px) {
    .featured-posts-img {
      width: 350px;
      height: auto;
    }
    .all-post-page-img{
        width: 200px; 
        height: 250px;
    }
    .all-posts-img{
        width: 100%;
    }
}

/* small screens */
@media (max-width: 768px) {
    .featured-posts-img {
        width: 515px;
        height: auto; 
    }
    .all-post-page-img{
        width: 250px; 
        height: 250px;
    }
    .individual-article-img{
        height: 350px;
    }
}

/* extra small screens */
@media (max-width: 576px) {
    .featured-posts-img {
        width: 100%;
        height: auto; 
    }
    .all-post-page-img{
        width: 100%; 
        height: 250px;
    }
    .individual-article-img{
        height: 250px;
    }
}

.timestamp{
    color: rgb(89, 46, 169);
    font-size: 14px;
    font-weight: 300;
}

.all-posts-heading{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

html, body {
    height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
main.content {
    overflow: auto;
}

.create-post-text-field{
    height: 50vh;
}

.form-control::placeholder {
    position: absolute;
    top: 7px;
    left: 7px;
}

.form-control{
    position: relative;
}

.about-me{
    height: 100%;
    width: 100%;
    background-color: #F4F0F8;
}

.weight-300{
    font-weight: 300;
}

.all-posts-text {
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
}


.all-posts-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
